body{
    margin: 0;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width:90%;
    background-color: #333333;
    margin: auto;
}
.header-container{
    width:70%;

    margin: auto;
}
.header-container h3{
    color: #979797;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    font-weight: normal;
}
section{
    width:90%;
    overflow: auto;
    background-color:white;
    margin: auto;
}
.header-container .left{
    width:65%;
    background-color:#dddddd;
    

}

.left .img2{
    
    width:80px;
    height:80px;
    border: 1px solid black;
    margin: 6px 16px 10px 3px;
    }
    .left h1{
        font-size: 16px;
        color: #979797;
        margin: 0;
        font-weight: normal;
    }
    .leftul{
        color: #979797;
       
        width:65%;
        list-style-type: none;
    }
    
    p{
        text-align: center;
        color: #979797;
        font-size: 10px;
    }
    .header-container .right{
        width:33%;
       
        padding: 15px;
        padding-right: 0;
        
    }
    .right .img1{
        
    width:80px;
    height:80px;
    border: 1px solid black;
    }
    .right p{
        /* text-align: left; */
    color: #979797;
    font-size: 10px;
    width: 56%;
   
    }
    .ol1{
        width:50%;
       
        color: #979797;
    }
    .box1{
width:48%;
margin-right: 2%;
background-color:gray;


    }
    .box2{
        width:48%;
        margin-left: 2%;
        background-color:#dddddd;
       
    }
    
footer{
    width:90%;
    overflow: auto;
    background-color: #333333;
    margin: auto;
}
h4{
    
    color: gray;
}
.f-left{
    float: left;

}
.f-right{
    float: right;
}
.wrap_padding{
    padding: 0;
}
.color{
    color:whitesmoke;
}
.text-a{
text-align: left;
}
